.container {
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr 2fr 1fr;
  grid-template-rows: 10dvh 85dvh 5dvh;
  gap: 0;
  grid-template-areas:
    "aside header header header"
    "aside . content ."
    "aside footer footer footer";

  .header {
    grid-area: header;
  }

  .aside {
    grid-area: aside;
  }

  .content {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }
}
